<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BrokerAddress" value="192.168.75.130" />
		<add key="SendQueue" value="SimulationOut" />
		<add key="ReceiveQueue" value="SimulationIn" />
		<add key="ExecutionInterval" value="100" />
		<add key="MsgCycleDelay" value="100" />
		<add key="LogFilePath" value="C:\Data"/>
		<add key="LoggingMethod" value="None"/>
		<add key="EventSourceName" value="Simulation"/>
		<add key="SpeedModifier" value="1"/>
	</appSettings>
</configuration>
