<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BrokerAddress" value="127.0.0.1" />
		<add key="SendQueue" value="SimulationOut" />
		<add key="ReceiveQueue" value="SimulationIn" />
		<add key="ExecutionInterval" value="100" />
		<add key="MsgCycleDelay" value="100" />
		<add key="LogFilePath" value="..\..\..\..\LogData\EventLogData"/>
		<add key="SimpleLogPath" value="..\..\..\..\LogData\SimpleLogData"/>
		<add key="LoggingMethod" value="AllLogs"/>
		<add key="EventSourceName" value="Simulation"/>
		<add key="SpeedModifier" value="1"/>
	</appSettings>
</configuration>
